@model GrudAjax.Models.Country

@{
  ViewData["Title"] = "Edit Country";
}

<h2>Edit Country</h2>

<form asp-action="Edit" method="post">
  <input type="hidden" asp-for="Id" />
  <div class="form-group">
    <label asp-for="Code" class="control-label"></label>
    <input asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="CurrencyName" class="control-label"></label>
    <input asp-for="CurrencyName" class="form-control" />
    <span asp-validation-for="CurrencyName" class="text-danger"></span>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Save</button>
  <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>



